body {
    margin: 0;
    padding: 2rem 0;
    width: 100%;
    background: #FFBA00;
    font-family: 'Inconsolata', monospace;
    text-align: center;
  }
  
  main {
    background: white;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 2rem 0;
  }
  
  h1 {
    margin: 3rem 1rem 6rem 1rem;
  }
  
  h2 {
    margin: auto 2rem;
  }
  
  footer {
    margin: 3rem;
    font-size: 1.2rem;
  }
  
  #gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }
  
  .artObject {
    max-width: 80%;
    max-height: 20rem;
    margin: 1rem;
  }



  /* Smartphones (portrait and landscape) ----------- */ 
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {  
    /* Styles */ 
  }  
   
  /* Smartphones (landscape) ----------- */ 
  @media only screen and (min-width : 321px) {  
    /* Styles */ 
  }  
   
  /* Smartphones (portrait) ----------- */ 
  @media only screen and (max-width : 320px) {  
    /* Styles */ 
  }  
   
  /* iPads (portrait and landscape) ----------- */ 
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {  
    /* Styles */ 
  }  
   
  /* iPads (landscape) ----------- */ 
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {  
    /* Styles */ 
  }  
   
  /* iPads (portrait) ----------- */ 
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {  
    /* Styles */ 
  }  
   
  /* Desktops and laptops ----------- */ 
  @media only screen and (min-width : 1224px) {  
    /* Styles */ 
  }  
   
  /* Large screens ----------- */ 
  @media only screen and (min-width : 1824px) {  
    /* Styles */ 
  }  
   
  /* iPhone 4 ----------- */ 
  @media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {  
    /* Styles */ 
  }  